[data-status-code^="4"] {
	background-color: red;
}

[data-status-code^="5"] {
	background-color: red;
}

.status-log {
	display: flex;
	flex-direction: column;
}

.status-log > * {
	white-space: pre;
}

.cgi-dialog button {
	position: relative;
}

.sites-dialog button .icon,
.cgi-dialog button .icon {
	display: inline-block;
	position: relative;
	top: 3px;
	width: 16px;
	height:16px;
}

button .icon.play {
	background-image: url(/ui/play-icon.png);
}

.cgi-dialog button .icon.stop {
	background-image: url(/ui/stop-icon.png);
}

.cgi-dialog button .icon.help {
	background-image: url(/ui/help-icon.png);
}

button .icon.cash{
	background-image: url(/ui/cash-icon.png);
}

button .icon.refresh{
	background-image: url(/arrow-circle.png);
}

span.property:empty {
	opacity: 0;
}

.property-list span.property {
	min-width: 12rem;
}
